version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: task_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_nest
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    image: task-nest-backend
    container_name: task_backend
    ports:
      - "3000:3000"
    env_file:
      - .env.docker
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres_data: